/*
  Originally inspired from https://github.com/Hammie217/LatexJekyll
  NOTE: Commented background-color's are there for debugging, do not remove.
*/

/* Globals */
:root {
  /* Paragraph */
  --p-width: 58vw;
  --p-max-width: 72ch;
  --abstract-width: 88%;

  /* Font sizes, 1rem == --fs-p */
  --fs-h1: 40px;
  --fs-h2-name: 27px;
  --fs-h2-date: 27px;
  --fs-h2-abstract: 25px;
  --fs-h2: 33px;
  --fs-p: 23px;
  --fs-p-abstract: 21px;
  --fs-mono: 0.7rem; /* Mono font w.r.t. main font size */

  /* Colors */
  --c-bg-1: #ECEFF1;
  --c-bg: white; /* background */
  --c-fg: black; /* foreground */
  --c-hl: #E91E63; /* highlight */
  --c-cm: #2196F3; /* complement */

}

html {
  font-family: "CM Serif";
  font-size: var(--fs-p);
  background-color: var(--c-bg);
  color: var(--c-fg);
}

/* Style resets */
h1, h2, body, p {
  margin: 0;
	/* padding: 0; */
	/* border: 0; */
	/* outline: 0; */
	font-weight: inherit;
	/* font-style: inherit; */
	/* font-size: 100%; */
	/* font-family: inherit; */
	/* vertical-align: baseline; */
}

/* Scrollbars */

*::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-hl);
  border-radius: 5px;
}

* {
  scrollbar-color: var(--c-hl) transparent;
  scrollbar-width: thin;
}


/* Fonts */

@font-face {
  font-family: "CM Serif";
  src: url(../fonts/cmunrm.woff);
}

@font-face {
  font-family: "CM Serif Bold";
  src: url(../fonts/cmunbx.woff);
}

@font-face {
  font-family: "FiraCode";
  src: url(../fonts/firacode.woff2);
}


/* Screensize specifics */

@media only screen and (max-width: 320px) { :root {
  /* background-color: deepskyblue; */
  --p-width: 100vw
}}

@media only screen and (min-width: 321px) and (max-width: 480px) { :root {
  /* background-color: fuchsia; */
  --p-width: 100vw
}}
@media only screen and (min-width: 481px) and (max-width: 768px) { :root {
  /* background-color: gold; */
  --p-width: 80vw;
}}
@media only screen and (min-width: 769px) and (max-width: 1024px) { :root {
  /* background-color: greenyellow; */
  --p-width: 80vw;
}}
@media only screen and (min-width: 1025px) and (max-width: 1200px) { :root {
  /* background-color: darkviolet; */
  --p-width: 72vw;
}}

.latex {
  width: var(--p-width);
  padding-left: calc((100vw - min(var(--p-width), var(--p-max-width))) / 2);
  max-width: var(--p-max-width);
}


.latex > h1 {
  font-family: "CM Serif";
  font-size: var(--fs-h1);
  text-align: center;
  padding-top: 10vh;
  margin-bottom: 1rem;
}

.latex > .latex-header > h2.author{
  font-family: "CM Serif";
  font-size: var(--fs-h2-name);
  text-align: center;
  margin-bottom: 0.5rem;
}
.latex > .latex-header > h2.date{
  font-family: "CM Serif";
  font-size: var(--fs-h2-date);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.latex > h2 {
  font-family: "CM Serif Bold";
  font-size: var(--fs-h2);
  text-align: Left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.latex > h3 {
  margin-top: 2rem;
}

.latex > p {
  font-family: "CM Serif";
  font-size: var(--fs-p);
  text-align: Left;
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.latex > blockquote {
  background-color: var(--c-bg-1);
  font-style: italic;
  padding: 1rem;
  border-radius: 2px;
}

.latex > hr {
  border-color: var(--c-fg);
}

.latex a { /* Links */
  color: var(--c-hl);
  text-decoration: none;
}

.latex > p > code { /* Inline code */
  font-family: FiraCode;
  font-size: var(--fs-mono);
  background-color: var(--c-bg-1);
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
}

.latex pre.highlight { /* Code block */
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 17px;
  font-size: var(--fs-mono);
  padding: 1rem;
  margin: 0 0 1rem 0;
  border-radius: 5px;
  overflow-x: auto;
}

.latex pre {
  line-height: 1.55; /* Magic number height that I like particularly for this font */
}

/* Code block with line numbers used with {% highlight python linenos %} */

.latex > figure.highlight {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 17px;
  font-size: var(--fs-mono);
  margin: 0 0 1rem 0;
  border-radius: 5px;
  overflow-x: auto;
}

.latex div.highlighter-rouge div.highlight {
  background-color: inherit;
}

.latex > figure.highlight > pre {
  margin: 0;
}

.latex table.rouge-table pre {
  padding: 1rem 0.25rem;
  margin: 0;
}

.latex table.rouge-table pre.lineno {
  padding: calc(var(--fs-mono) / 2);
  opacity: 0.5;
}



/* Abstract section */

.latex-abstract{
  width: var(--abstract-width);
  padding-left: calc((100% - var(--abstract-width)) / 2);
}

.latex-abstract > h2{
  font-family: "CM Serif Bold";
  font-weight: bold;
  font-size: var(--fs-h2-abstract);
  text-align: center;
  margin-bottom: 1rem;
}

.latex-abstract > p {
  font-family: "CM Serif";
  font-size: var(--fs-p-abstract);
  text-align: justify;
  text-indent: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer{
  height: 30vh;
  width: 100%;
  /* background-color: darkslategrey; */
}
